<div id="home">
  <div class="container">
    <div class="jumbotron">
      <h1 id="webTitle">Critical Hit</h1>
      <h6 id="webSynopsis">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat.
      </h6>

      <br><br>


    </div>
  </div>
  <div class="container">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Game Search" aria-label="Recipient's username"
        aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2 submit">Submit</button>
      </div>
    </div>
  </div>

  <div class="container" id="resultBox">

  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>