.list-group-item {
  line-height: 2.5;
}

#gameImage {
  position: relative;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

.jumbotron {
  padding-bottom: -20px;
}

.mushRate {
  max-height: 15px;
}

.rating {
  position: relative;
  float: right;
}

#reviewInput {
  box-sizing: border-box;
  background: grey;
  border: solid 1px black;
  border-radius: 8px;
  padding: 20px;
}