.list-group-item {
  line-height: 2.5;
}

.reviewCards{
  border: 1px solid black;
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
}


#gameImageUrl {
  position: relative;
  float: left;
  max-height: 150px;
  margin-left: 20px;
  margin-right: 20px;
}

.jumbotron {
  padding-bottom: -20px;
  margin-top: 60px;
}

.mushRate {
  max-height: 15px;
}

.rating {
  position: relative;
  float: right;
}

#reviewInput {
  box-sizing: border-box;
  background: grey;
  border: solid 1px black;
  border-radius: 8px;
  padding: 20px;
}

#webSynopsis {
  text-align: center;
  font-size: 36px;
  margin-top: 65px;
}

.nav-extended {
  background: rgb(224, 152, 37);

}

nav .brand-logo.center {
  color: brown;
}

.tabs.tabs-transparent .tab a {
  color: brown;
}

#gameNewsDiv {
  margin-top: 65px;
  margin-left: 20px;
  max-width: 90%;
}

body {
  background: rgb(255, 223, 171)
}

.form-control>placeholder {
  color: black;
}